<div id="diagnosis-data" class="content-section">
    <h2 class="section-title">التشخيص</h2>
    <div class="content-text">{{ diagnosis.diagnosis|linebreaks }}</div>
</div>
{% if request.user.is_staff_member %}
<div class="action-buttons">
    <button class="btn-update"
        hx-get="{% url 'update-diagnosis' diagnosis_id=diagnosis.id %}"
        hx-target="#diagnosis-card-container"
        hx-swap="innerHTML">
        <span>تعديل</span>
    </button>

    <button class="btn-delete"
        hx-delete="{% url 'delete-diagnosis' diagnosis_id=diagnosis.id %}"
        hx-target="#diagnosis-card-container"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-swap="innerHTML"
        hx-confirm="هل أنت متأكد من حذف هذا التشخيص؟">
        <span>حذف</span>
    </button>
</div>
{% endif %}
<!-- to swap for add btn after delete -->
<div id="add-diagnosis-btn" hx-swap-oob="true" style="display:none;"></div>