<!doctype html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>
        {% block title %}نظام العيادة — الرئيسية{% endblock %}
    </title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/home.css' %}" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body class="home-hero" hx-headers="{'X-CSRFToken': '{{csrf_token}}'}">
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}
    {% include 'messages.html' %}
    
    {% block content %}

    {% endblock %}
</body>
</html>